@import url(./style.css);

body {
  margin: 0;
  font-family: 'DM Sans', 'Poppins', 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.icon-select-bottom {
  margin-left: 17px;
  font-size: 12px;
}

.total.active + .content{
  display: block;
}

.total.active .icon-bottom {
  transform: rotate(180deg);
}

.total {
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  color: #84878B;
}

.check::-webkit-inner-spin-button,
.check::-webkit-calendar-picker-indicator {
    width: 20%;
     opacity:0;   
    -webkit-appearance: none;
 }

::-webkit-datetime-edit-month-field { color: #84878B; }
::-webkit-datetime-edit-day-field { color: #84878B; }
::-webkit-datetime-edit-year-field { color: #84878B; }
::-webkit-datetime-edit-text { color: #84878B; padding: 0 0.1em; }

.react-tabs__tab--selected {
  background-color: transparent !important;
  border: none !important;
  padding: 0;
}

.react-tabs__tab-list {
  border: none !important;
  margin: 0 !important;
}

.react-tabs__tab {
  bottom: 0 !important;
  padding: 0 !important;
}

.react-tabs__tab--selected::before{
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: #316BFF;
}

.css-tlfecz-indicatorContainer {
  display: none !important;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
.css-319lph-ValueContainer {
  padding: 0 !important;
  margin: 0 !important;
}
.css-6j8wv5-Input {
  margin: 0 !important;
  padding: 0 !important;
}
.css-14el2xx-placeholder {
  margin: 0 !important;
}
.css-1s2u09g-control {
    background-color: transparent !important;
    border-color: none;
    border-radius: 4px;
    border-style: none !important;
    min-height: 20px !important;
    outline: 0!important;
}
.css-tj5bde-Svg {
  display: none !important;
}
.css-1pahdxg-control {
  background-color: transparent !important;
  box-shadow: none !important;
  min-height: 20px !important;
  border: none !important;
  border-color: transparent !important;
}

.margin {
  margin: 13px 0;
}

.react-tabs__tab:focus:after {
  background-color: transparent !important;
}

.react-tabs__tab:focus {
  box-shadow: none !important;
}